@import "tailwindcss";

* {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    font-family: "Inter";
    background-color: #000001;
    color: #FFFFF1;
}